<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/newstyle.css">

</head>

<body>
    <nav>
        <ul>
            <li><a href="/"><img src="/images/home-icon.svg" alt="" srcset=""></a></li>
        </ul>
    </nav>

    <div id="bodymembersbook">
        <h1>
            <%= member %>'s Choice of <%= month %>
        </h1>
        <h2 class="titletext">
            <%= title %>
        </h2>

        <div id="" class="membersbook">


            <div id="flexcontainer">
                <div class="flexleft">
                    <!-- <img class="hidden" src="<%= imageLinks.cover %>">
                    <div class="bookcontainer">
                        <div class="containerbook">
                            <div class="containerfront">
                                <div class="containercover">
                                    <span class="containerrank"><a href="#membercomments">
                                            <%= locals.avgrank %>
                                        </a>⭐</span>
                                    <img src="<%= imageLinks.cover %>">
                                    <p class=containerauthor>
                                        <%= authors[0] %>
                                    </p>
                                </div>
                            </div>
                            <div class="containerleft-side">
                                <h2>

                                    <span>
                                        <%= title %>
                                    </span>
                                </h2>
                            </div>
                        </div>
                    </div> -->

<<<<<<< HEAD
                    <div class="singleCover">

                        <img src="<%= imageLinks.cover %>">
=======
                    <div>

                        <img class="singleCover" src="<%= imageLinks.cover %>">
>>>>>>> fc3e7a0e560264abd2faff3314f003c8e1c64e7c
                        <span class="containerrank"><a href="#membercomments">
                                <%= locals.avgrank %>
                            </a>⭐</span>
                    </div>

                </div>
                <div class="flexright">
                    <div>
                        <h5>
                            <%= authors[0 ] %>
                        </h5>
                        </h6>
                        <%= publishedDate %>
                            </h6>
                    </div>

                    <p>
                        <%= description %>
                    </p>
                    <a href="<%=dllink%>">
                        <p id="download">Download</p>
                    </a>
                    <h5><a href="/#mainSection">Back to Gallery</a></h5>


                </div>
            </div>

            <div id="membercomments">
                <p class="subheader">Reading the room</p>
                <% let total=0 %>
                    <% if (comments) { for( let comment of comments) { %>

                        <div class="memcomment">
                            <h5>
                                <%= comment.member %>
                            </h5>
                            <div class="rankedcomment">
                                <h6>
                                    <%= comment.rank %> ⭐
                                </h6>
                                <p>
                                    <%= comment.comment %>
                                </p>
                            </div>
                        </div>

                        <% }} else{ %>

                            <div class="memcomment">
                                <h5>Reviews to come...</h5>
                            </div>

                            <% }%>
            </div>
        </div>
        <footer>Prototype V2 Jayson</footer>

</body>

</html>