<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Read The Room</title>
  <link rel="stylesheet" href="/css/main.css">
</head>

<body>
  <video id="bannervid" autoplay muted src="./videos/BannerVidMidCut.mp4"></video>
  <div id="banner">
    <div class="banner-overlay"></div>
    <div class="banner-text">
      <h1>Read The room</h1>
      <h2>Book Club</h2>
    </div>
  </div>

  <div id="mainSection">
    <h2>Book of the Month</h2>

    <div id="bookgallery-parents">
      <div class="bookgalleryover gallery-left"></div>
      <div class="bookgalleryover gallery-right"></div>

      <div id="bookgallery">


        <% newestFirstBooks.forEach(book=> {%>
          <a class="booklink" href="/book/<%= book[0] %>">
            <div class="mobile-layout">


              <div class="book-cover">
                <h3>
                  <%= book[1].month %>
                </h3>
                <img class="book-top" src="<%= book[1].imageLinks.svg %>" alt="book-top" />
                <img class="book-side"
                  src="https://raw.githubusercontent.com/atomic-variable/images-repo/e37f432405904a280858e5437ce1960753bc78a3/book-side.svg"
                  alt="book-side" />
              </div>
              <div class="preface">

                <div class="title">
                  <%= book[1].title %>
                </div>
                <div class="author">
                  <%= book[1].authors[0] %>
                </div>

                <div class="body">
                  <p>
                    <%= book[1].description %>
                  </p>
                </div>

              </div>


            </div>
          </a>
          <% }) %>







      </div>
    </div>

    <footer>Prototype V2 Jayson</footer>

</body>

</html>
<script>
  let idx;
  let event;

  screen.width > 850 ? event = "mouseenter" : event = "touchstart"
  const scrollPart = document.getElementById("bookgallery");
  const hoverPart = document.getElementsByClassName("bookgalleryover gallery-right")[0];
  console.log(hoverPart)
  const hoverPartLeft = document.getElementsByClassName("bookgalleryover gallery-left")[0];

  const stopEvents = ["mouseleave", "touchend"]


  hoverPartLeft.addEventListener(event, function () {
    idx = setInterval(() => scrollPart.scrollLeft -= 1, 3);
  });

  hoverPart.addEventListener(event, function () {
    idx = setInterval(() => scrollPart.scrollLeft += 1, 3);
  });

  stopEvents.forEach(event => hoverPartLeft.addEventListener(event, function () {
    clearInterval(idx)
  }));

  stopEvents.forEach(event => (hoverPart.addEventListener(event, () => {
    clearInterval(idx)
  })));

</script>